@model TrailsClient.Models.TrailMarker

<div class="container">
  <div class="row">
    <div class = "col">
      <h1>Add a new Trail Marker</h1>
        @using (Html.BeginForm())
        {
          <div class="settings">
            @Html.HiddenFor(model => model.TrailMarkerId)

            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)

            @Html.LabelFor(model => model.Longitude)
            @Html.EditorFor(model => model.Longitude)

            @Html.LabelFor(model => model.Latitude)
            @Html.EditorFor(model => model.Latitude)  

            @Html.LabelFor(model => model.isLandmark)
            @Html.EditorFor(model => model.isLandmark)

            @Html.LabelFor(model => model.isTrailhead)
            @Html.EditorFor(model => model.isTrailhead)

            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
          </div>

          <input class = "btn btn-secondary" type="submit" value="Add new Character"/>
        }
    </div>
    <div class = "col">
      <div id="viewDiv"></div>
    </div>
  </div>
</div>  

@section Scripts
{
<style>
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 88vh;
    width: 100%;
  }
</style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.24/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.24/"></script>
  <script>

require([
  "esri/config",
  "esri/Map",
  "esri/views/MapView",

  "esri/rest/locator"

], function(esriConfig,Map, MapView, locator) {

  esriConfig.apiKey = "AAPK7691fadea68d4c688c09d108d1cd1d7cSxgmrGZq1iMecdeWEN29tO3QCLIzXUFXyg4PLvxYtshTAFhyxYK6D4d2m-vnNbrK";

  const map = new Map({
    basemap: "arcgis-navigation"
  });

  const view = new MapView({
    container: "viewDiv",
    map: map,
    center: [-122.62495,45.52118],
    zoom: 12
  });

  const serviceUrl = "http://geocode-api.arcgis.com/arcgis/rest/services/World/GeocodeServer";

  view.on("click", function(evt){
      const params = {
        location: evt.mapPoint
      };

      locator.locationToAddress(serviceUrl, params)
        .then(function(response) { // Show the address found
          const address = response.address;
          showAddress(address, evt.mapPoint);
        }, function(err) { // Show no address found
          showAddress("No address found.", evt.mapPoint);
        });

        var long = Math.round(evt.mapPoint.longitude * 100000)/100000;
        var lat = Math.round(evt.mapPoint.latitude * 100000)/100000;

        document.getElementsByName('Longitude')[0].value = long;
        document.getElementsByName('Latitude')[0].value = lat;
    });

  function showAddress(address, pt) {
    view.popup.open({
      title:  + Math.round(pt.longitude * 100000)/100000 + ", " + Math.round(pt.latitude * 100000)/100000,
      content: address,
      location: pt,

    });
  }

});
</script>

}
