@{
  Layout = "_LayoutP";
}

@model TrailsClient.Models.TrailMarker

<div class="container">
  <div class="row" id="trailMarkerDetails">
    <div class="col-md-4 trailMarkDeetz card overflow-auto">
        <h1>Trailmarker Info:</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: @Model.TrailMarkerId</li>
            <li class="list-group-item">Name: @Model.Name</li>
            <li class="list-group-item">Longitude: @Model.Longitude</li>
            <li class="list-group-item">Latitude: @Model.Latitude</li>
            <li class="list-group-item">Trailhead?: @Model.isTrailhead</li>
            <li class="list-group-item">Landmark?: @Model.isLandmark</li>
            <li class="list-group-item">Description: @Model.Description</li>
        </ul>

        <div class="d-flex justify-content-center">
          <a href="/Home/Index"><button id="homeTMIButton"></button></a>
        </div>
      </div>
      <div class="col-md-8" id="viewDiv"></div>
  </div>
</div>

  @section Scripts
  {
  
    <style>
        html,
        body,
        #viewDiv {
          padding: 0;
            margin: 0;
            height: 100vh;
            width: 100vw;
        }
      </style>
      
    <link rel="stylesheet" href="https://js.arcgis.com/4.24/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.24/"></script>

    <script>
      require(["esri/config","esri/Map", "esri/views/MapView", "esri/Graphic", "esri/layers/GraphicsLayer"], function (esriConfig, Map, MapView, Graphic, GraphicsLayer) {

        esriConfig.apiKey = "AAPK7691fadea68d4c688c09d108d1cd1d7cSxgmrGZq1iMecdeWEN29tO3QCLIzXUFXyg4PLvxYtshTAFhyxYK6D4d2m-vnNbrK";

        const map = new Map({
          basemap: "arcgis-topographic" // Basemap layer service
        });

        const view = new MapView({
          map: map,
          center: [@Model.Longitude, @Model.Latitude], // Longitude, latitude
          zoom: 16, // Zoom level
          container: "viewDiv" // Div element
        });

        const graphicsLayer = new GraphicsLayer();
        map.add(graphicsLayer);

        //add point at coordinates
        const point = { //Create a point
        type: "point",
        longitude: @Model.Longitude,
        latitude: @Model.Latitude
        };
        
        //style point marker
        const simpleMarkerSymbol = {
          type: "simple-marker",
          color: [36, 122, 151],  //blue
          outline: {
            color: [255, 255, 255], // White
            width: 1
          }
        };
        const pointGraphic = new Graphic({
          geometry: point,
          symbol: simpleMarkerSymbol
        });
          graphicsLayer.add(pointGraphic);
        });
        </script>
  }